<link rel="stylesheet" href="/app.css">

<h1>Check out your friends</h1>



<form action= "/newfriend" method="POST">
    
    <input id="block" type="text" name="addnew" placeholder= "Enter Name">
    <button id="button">ADD AS FRIEND</button>
    
</form>

<ul class="list">
    <% for(var i=0; i<friends.length; i++){ %>
       <li> <%=friends[i].toUpperCase()%> </li>
        
   <% } %>
</ul>